<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<header>
<img src="../../assets/animation.gif" width="100%">
</header>


<section style="width: 100%;">  

  <!-- Sidebar/menu Ref. w3 Schools -->
<nav style="width: 20%;
display: inline-block;
float: left;">
  <div class="w3-bar-block">
    <a id="navLogin" href="#" (click)="displayLoginSection()" class="w3-bar-item w3-button w3-hover-white">Login</a> 
    <a id="navAdminView" href="#showcase" (click)="displayAllUsersSection()" class="w3-bar-item w3-button w3-hover-white">Admin View</a>     
  </div>
</nav>

<div style="display: inline-block;width: 80%;">
<input type="text" id="searchInput" onkeyup="myFunction()" placeholder="Search for Events" title="Type in a name">  
<button type="button" class="btn btn-info">Search</button>

<article>
  <!-- <app-event       
  style="width:100%; float:right; "
  *ngFor="let eventdata of NYCopendata" [eventdata]='eventdata'></app-event>     -->
</article>

</div>



  <!-- <article 
  
  style="display: inline-block;
  width: 60%;
  height: 600px;
  background-color: gray;overflow:scroll;"
  
  > -->
  
  
</section>
