<div class="container">

  <div class="row" id="pwd-container">
    <!-- <div class="col-md-4"></div> -->

    <div class="col-md-4">
      <section class="login-form">
        <form method="post" action="#" role="login">

          <div *ngIf="!showAddUserForm">
            <input
              name="loginUserName"
              placeholder="Username"
              class="form-control input-lg"
              [(ngModel)]="loginUserName"
              required>

            <input
              name="loginPassword"
              type="password"
              class="form-control input-lg"
              placeholder="Password"
              [(ngModel)]="loginPassword"
              required>

            <div *ngIf="showWrongCredentialMessage" class="alert alert-danger alert-wrong-credentials" role="alert">
                <strong>username or password is invalid</strong> try again.
            </div>

            <input
              type="button"
              value="Sign in"
              class="btn btn-lg btn-primary btn-block"
              (click)="login()">

            <input
              type="button"
              class="btn btn-lg btn-light btn-block"
              value="Sign Up"
              (click)="toggleAddUserForm()">
          </div>

          <div *ngIf="showAddUserForm">
            <button
              type="button"
              class="close"
              aria-label="Close"
              style="font-size: xx-large;margin-top: 0px;margin-bottom: 16px;"              
              (click)="toggleAddUserForm()">
              <span aria-hidden="true">&times;</span>
            </button>

            <input
              type="text"
              name="First Name"
              class="form-control input-md"
              placeholder="First Name"
              [(ngModel)]="firstName"
              required>

            <input
              type="text"
              name="Last Name"
              class="form-control input-md"
              placeholder="Last Name"
              [(ngModel)]="lastName"
              required>

            <input
              type="text"
              name="Username"
              class="form-control input-md"
              placeholder="Username"
              [(ngModel)]="userName" 
              required>

            <input
              type="text"
              name="Password"
              class="form-control input-md"
              placeholder="Password"
              type="password"
              [(ngModel)]="password"
              required>

            <input
              type="button"
              value="Sign Up"
              (click)="addNewUser()"
              class="btn btn-primary">
          </div>

        </form>
      </section>
    </div>

    <div
    style="height: 60px;"></div>
    <app-user       
      style=" width: 51%; float: right; "
      *ngFor="let user of users" [user]='user'></app-user>

  </div>
</div>