<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

<!-- Sidebar/menu Ref. w3 Schools -->
<nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;background-color: #428bca" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>New York City<br>Search</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" (click)="displayLoginSection()" class="w3-bar-item w3-button w3-hover-white">Login</a> 
    <a href="#showcase" (click)="displayAllUsersSection()" class="w3-bar-item w3-button w3-hover-white">Admin View</a>     
  </div>
</nav>

<div class="container">

  <div class="row" id="pwd-container">
    <!-- <div class="col-md-4"></div> -->

    <div class="col-md-4" *ngIf="!showAllUsers">
      <section class="login-form">
        <form method="post" action="#" role="login">

          <div *ngIf="!showAddUserForm">
            <input
              name="loginUserName"
              placeholder="Username"
              class="form-control input-lg"
              [(ngModel)]="loginUserName"
              required>

            <input
              name="loginPassword"
              type="password"
              class="form-control input-lg"
              placeholder="Password"
              [(ngModel)]="loginPassword"
              required>

            <div *ngIf="showWrongCredentialMessage" class="alert alert-danger alert-wrong-credentials" role="alert">
                <strong>username or password is invalid</strong> try again.
            </div>

            <input
              type="button"
              value="Sign in"
              class="btn btn-lg btn-primary btn-block"
              (click)="login()">

            <input
              type="button"
              class="btn btn-lg btn-light btn-block"
              id="btnSignUp"
              value="Sign Up"
              (click)="toggleAddUserForm()">
          </div>

          <div *ngIf="showAddUserForm">
            <button
              type="button"
              class="close"
              aria-label="Close"
              style="font-size: xx-large;margin-top: 0px;margin-bottom: 16px;"              
              (click)="toggleAddUserForm()">
              <span aria-hidden="true">&times;</span>
            </button>

            <input
              type="text"
              id="first-name-input"
              name="First Name"
              class="form-control input-md"
              placeholder="First Name"
              [(ngModel)]="firstName"
              required>

            <input
              type="text"
              id="last-name-input"
              name="Last Name"
              class="form-control input-md"
              placeholder="Last Name"
              [(ngModel)]="lastName"
              required>

            <input
              type="text"
              id="user-name-input"
              name="Username"
              class="form-control input-md"
              placeholder="Username"
              [(ngModel)]="userName" 
              required>

            <input
              type="text"
              id="password-input"
              name="Password"
              class="form-control input-md"
              placeholder="Password"
              type="password"
              [(ngModel)]="password"
              required>

            <input
              type="button"              
              value="Sign Up"
              id="add-user"
              (click)="addNewUser()"
              class="btn btn-primary">
          </div>

        </form>
      </section>
    </div>

    <div
    style="height: 60px;"></div>

    <div *ngIf="showAllUsers">
      <app-user
        style=" width: 51%; float: right; "
        *ngFor="let user of users" [user]='user'></app-user>
    </div>

  </div>
</div>